/* GENERAL */
body {
  font-family: "Big Shoulders Display", cursive;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header,
footer {
  background-color: #ffd9e1;
}

.Ubicacion a {
  color: #FF4267;
  font-weight: bold;
  text-decoration: underline;
}

.alignCenter {
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.p10 {
  padding: 10px;
}

p {
  text-align: justify;
  margin: 10px;
}

.mainGrid,
.card {
  background-image: url(../imgs/medellin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainGrid {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p20 {
  padding: 20px;
}

.m20 {
  margin: 20px;
}

.card {
  border-radius: 20px;
  align-items: center;
}

div h1 {
  text-align: center;
}

.gridCardsTipoDos h2 {
  text-align: center;
}

@media (min-width: 1024px) {
  nav a {
    font-weight: bold;
    color: #FF4267;
    font-size: 40px;
    text-shadow: 3px 3px 3px #000000;
  }
  .logo {
    width: 150px;
    height: 150px;
  }
  .Ubicacion a {
    font-size: 30px;
  }
  ul {
    padding-inline-start: 0;
  }
  li {
    padding: 10px;
    margin: 10px;
  }
  .jCSpaceBetween {
    justify-content: space-between;
  }
  .jCSpaceEvenly {
    justify-content: space-evenly;
  }
  h1 {
    font-size: 45px;
    color: #FF4267;
  }
  h2 {
    font-size: 30px;
    color: #FF4267;
  }
  h3 {
    font-size: 20px;
    color: #FF4267;
  }
  p {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  /*GENERAL*/
  ul {
    justify-content: center;
    padding-left: 0;
  }
  .mg10 {
    margin: 10px;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  li {
    padding: 2px;
    margin: 2px;
  }
  .Ubicacion a {
    font-size: 20px;
  }
  nav a {
    font-weight: bold;
    color: #FF4267;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
  }
  h1 {
    font-size: 30px;
    color: #FF4267;
  }
  h2 {
    font-size: 20px;
    color: #FF4267;
  }
}
.flexCard {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  header,
  footer,
  ul,
  .Redes,
  .Ubicacion,
  .infoCreacion {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  /*GENERAL*/
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  main,
  footer,
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gridCardsVerticales {
    display: flex;
    flex-direction: column;
  }
  .gridCardsDos {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  /*GENERAL*/
  .grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  .mainGrid {
    display: grid;
    grid-template-areas: "encabezado1 imagenParrafo1" "parrafo1 imagenParrafo1" "imagenParrafo2 encabezado2" "imagenParrafo2 parrafo2";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 50% 50%;
  }
  .encabezado1 {
    grid-area: encabezado1;
  }
  .encabezado2 {
    grid-area: encabezado2;
  }
  .parrafo1 {
    grid-area: parrafo1;
  }
  .parrafo2 {
    grid-area: parrafo2;
  }
  .imagenParrafo1 {
    grid-area: imagenParrafo1;
  }
  .imagenParrafo2 {
    grid-area: imagenParrafo2;
  }
  .gridCardsVerticales {
    display: grid;
    grid-template-areas: "encabezadoSeccion encabezadoSeccion encabezadoSeccion " "card1 card2 card3";
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto auto;
  }
  .encabezadoSeccion {
    grid-area: encabezadoSeccion;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .gridCardsEventos {
    display: grid;
    grid-template-areas: "encabezadoSeccion1 encabezadoSeccion1 " "card4 card5 " "card6 card7";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
  }
  .encabezadoSeccion1 {
    grid-area: encabezadoSeccion1;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
  .card6 {
    grid-area: card6;
  }
  .card7 {
    grid-area: card7;
  }
  .gridCardsTipoDos {
    display: grid;
    grid-template-areas: "imagen Titulo " "imagen Texto ";
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
  }
  .imagen {
    grid-area: imagen;
  }
  .Titulo {
    grid-area: Titulo;
  }
  .Texto {
    grid-area: Texto;
  }
}

/*# sourceMappingURL=style.css.map */
